{% extends "base.html" %}
{% block content %}

<h2>Exercise 1</h2>

<ul>
    <li><a href="/ex1/shift">Shift Cipher</a></li>
    <li><a href="/ex1/playfair">Playfair Cipher</a></li>
    <li><a href="/ex1/gcd">GCD</a></li>
    <li><a href="/ex1/extended">Extended Euclidean Algorithm</a></li>
    <li><a href="/ex1/determinant">Determinant</a></li>
    <li><a href="/ex1/matrix">Matrix Multiplication</a></li>
    <li><a href="/ex1/hill">Hill Cipher</a></li>
    <li><a href="/ex1/primitive">Primitive Roots</a></li>


</ul>

<a href="/">⬅ Back</a>

{% endblock %}

