{% extends "base.html" %}

{% block content %}
<h2>Main Menu</h2>
<br>

<div class="grid">

    <!-- Exercise 1 -->
    <div class="card">
        <h2>Exercise 1</h2>
        <p>Classical ciphers & number theory</p>
        <a href="/ex1" class="btn">Open</a>
    </div>

    <!-- Exercise 2 -->
    <div class="card">
        <h2>Exercise 2</h2>
        <p>AES, DES, Modern Cryptography</p>
        <span class="badge">Advanced</span>
        <br><br>
        <a href="/ex2" class="btn">Open</a>
    </div>

    <!-- Exercise 3 -->
    <div class="card">
        <h2>Exercise 3</h2>
        <p>Hashing & Key Exchange</p>
        <span class="badge">Advanced</span>
        <br><br>
        <a href="/ex3" class="btn">Open</a>
    </div>

    <!-- Exercise 5 -->
    <div class="card">
        <h2>Exercise 5</h2>
        <p>DES Encryption & CMAC</p>
        <span class="badge">Advanced</span>
        <br><br>
        <a href="/ex5" class="btn">Open</a>
    </div>

</div>
{% endblock %}

